.nav {
    grid-area: nav;
    background-color: darkblue;
    padding: 10px;
}

.nav a {
    color: white;
    padding-bottom: 10px;
    text-decoration: none;
}

.active {
    color: gold !important;
}

.nav a:hover {
    color: cyan;
}